body {
    background-color: #000;
    font-family: var(--font-dm-sans);
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 8px 8px 82px 8px;
    width: 290px;
    background-color: #000;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 4.5px 0 0 6.5px;
}

.sidebar nav ul {
    margin-top: 5px;
    padding: 0 20px 4px 17px;
}

.sidebar ul li {
    padding: 13px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

span.fa.fa-home::before {
    font-size: 24px;
    margin-right: 12px;
}

span.fa.fa-home:hover {
    color: #fff;
}

span.fa.fa-search::before {
    font-size: 24px;
    margin-right: 15px;
}

span.fa.fa-search:hover {
    color: #fff;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #b3b3b3;
    font-weight: 600px;
    height: calc(100% - 164px);
    font-size: 14px;
    margin-top: 8px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    margin-left: 16px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px 0px 10px;
}

.library__button:hover {
    color: #fff;
}

span.fa.fa-book::before {
    font-size: 25px;
}

span.fa.fa-plus::before {
    font-size: 18px;
    margin-right: 13px;
}

.library .library__button .fa{
    font-size: 25px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
    color: #b3b3b3;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 8px 90px 8px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    margin-top: 12px;
}

.sidebar .cookies {
    margin: 25px 20px;   
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

span.fa.fa-globe::before {
    font-size: 16px;
}

.languages .languages__button {
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 0px 24px 32px 24px;
    padding: 8px;
    border-radius: 20px;
}

.languages__button:hover {
    transform: scale(01.05);
    border-width: 1.9px;
    border-color: aliceblue;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65.7px;
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.disclaimer-premium .text {
    flex-shrink: 0;
    padding: 11px 24px 7px 15px;
}

.disclaimer-premium .disclaimer-premium-title {
    color: #fff;
    font-weight: bold;
    font-size: 13.5px;
    margin-bottom: 7px;
    padding-top: 4.1px;   
}

.disclaimer-premium .disclaimer-premium-subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
    padding-bottom: 8px;
}

.disclaimer-premium .button-container {
    padding: 11px 24px 5px 0px;
}

.button-container .button-container__button {
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    min-width: 196px;
    padding: 16px 35px 15px 33px;
    border:  0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}

.button-container:hover {
    transform: scale(01.05);
}